{% extends "DellaertWebappDeploymentBundle::layout.html.twig" %}

{% block content %}
	{% if entity %}
		<script type="text/javascript">
			function confirmDelete() {
				if( confirm('Are you sure you want to delete this server type?') ) {
					window.location = "{{ path('ServerTypeDelete',{ 'id': entity.id }) }}";
				}
			}
		</script>
		<div id="entitybuttons"><a href="{{ path('ServerTypeEdit',{ 'id': entity.id }) }}" class="button left">Edit</a><a href="javascript:confirmDelete()" class="button right">Delete</a></div>
		<h1>Server type: {{ entity.name }}</h1>
		<table cellspacing="0">
			<tr>
				<th>Name</th>
				<td>{{ entity.name }}</td>
			</tr>
		</table>
		<div id="entitybuttons"><a href="{{ path('ServerAdd', { 'id': entity.id } ) }}" class="button add">Add server</a></div>
		<h2>Projects</h2>
		<ul>
			{% for server in entity.servers %}
				<li>><a href="{{ path('ProjectViewSlug',{ 'slug': server.slug }) }}">{{ server.host }} - {{ server.ip }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<h1>Unknown server type</h1>
		<p>The specified server type is not available.</p>
	{% endif %}
{% endblock %}