{% extends "DellaertWebappDeploymentBundle::layout.html.twig" %}

{% block content %}
	{% if entity %}
		<script type="text/javascript">
			function confirmDelete() {
				if( confirm('Are you sure you want to delete this server?') ) {
					window.location = "{{ path('ServerDelete',{ 'id': entity.id }) }}";
				}
			}
		</script>
		<div id="entitybuttons"><a href="{{ path('ServerEdit',{ 'id': entity.id }) }}" class="button left">Edit</a><a href="javascript:confirmDelete()" class="button right">Delete</a></div>
		<h1>Server: {{ entity.host }}</h1>
		<table cellspacing="0">
			<tr>
				<th width="20%">IP</th>
				<td width="30%">{{ entity.ip }}</td>
				<th rowspan="4" width="20%">Server types</th>
				<td rowspan="4" width="30%">
					<ul>
						{% for serverType in entity.serverTypes %}
							<li><a href="{{ path('ServerTypeViewSlug',{ 'slug': serverType.slug }) }}">{{ serverType.name }}</a></li>
						{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Plesk</th>
				<td>{% if entity.pleskCapable %}Yes{% else %}No{% endif %}</td>
			</tr>
			<tr>
				<th>Plesk user</th>
				<td>{{ entity.pleskUser }}</td>
			</tr>
			<tr>
				<th>SSH Key</th>
				<td>{{ entity.sshKeyPath }}</td>
			</tr>
			<tr>
				<th>SSH User</th>
				<td>{{ entity.sshUser }}</td>
				<th>SSH Port</th>
				<td>{{ entity.sshPort }}
			</tr>
		</table>

	    <h2>Application eployments</h2>
	    <table cellspacing="0" class="sortable">
	    	<tr>
	    		<th>Hostname</th>
	    		<th>Application</th>
	    		<th>Type</th>
	    	</tr>
	    	{% for deployment in entity.deployments %}
	    		<tr>
	    			<td><a href="http://{{ deployment.hostname }}" target="_blank">{{ deployment.hostname }}</a></td>
	    			<td><a href="{{ path('ApplicationViewSlug',{ 'slug': deployment.application.slug }) }}">{{ deployment.application.name }}</a></td>
	    			<td>{{ deployment.serverType.name }}</td>
	    		</tr>
	    	{% endfor %}
	    </table>
	{% else %}
		<h1>Unknown server</h1>
		<p>The specified server is not available.</p>
	{% endif %}
{% endblock %}