{% extends "DellaertWebappDeploymentBundle::layout.html.twig" %}

{% block content %}
	{% if form is defined %}
		<h1>Add application template parameter</h1>
		<form action="{{ path('ApplicationTemplateParameterAdd', { 'id': id }) }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<input class="button save left" type="submit" value="Save" /><input class="button middle" type="reset" value="Clear" /><a href="{{ path('ApplicationTemplateViewSlug',{ 'slug': entity.applicationTemplate.slug }) }}" class="button right delete">Cancel</a>
		</form>
	{% elseif entity is defined %}
		<script type="text/javascript">
		setTimeout(function() {
			  window.location.href = "{{ path('ApplicationTemplateViewSlug',{ 'slug': entity.applicationTemplate.slug }) }}";
			}, 3000);
		</script>
		<h1>Application template parameter added: {{ entity.name }}</h1>
		<p>You will be returned to the application template in 3 seconds...</p>
	{% endif %}
{% endblock %}
